In [20]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import pymongo
import pandas as pd
import time

In [21]:
# Initialize PyMongo to work with MongoDBs
prod_conn = 'mongodb://heroku_pxmzqrg2:dpp5l24mlb4lqetj4q96d62cjb@ds339968.mlab.com:39968/heroku_pxmzqrg2?retryWrites=false'
local_conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(prod_conn)

In [22]:
# Define database and collection
db = client.heroku_pxmzqrg2
collection = db.listing_summary

In [23]:
#trying Splinter
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [24]:
titles = ['data engineer', 'business analyst','software engineer']

In [25]:
for title in titles:
    url = 'https://www.indeed.com/jobs?q={}&l='.format(title)
    browser.visit(url)
    browser.is_text_present('Indeed', wait_time=10)
    
    html = browser.html
    soup = bs(html, 'html.parser')

    jobs = soup.find('div', id="refineresults")

    try:
        # Salary Data
        salary = jobs.find('div', id='SALARY_rbo')
        #loop through and make objects into strings
        salarieslist = salary.find_all('span', class_='rbLabel')
        salarieslist = [x.text for x in salarieslist]
         #loop through and make objects into strings
        salariescount = salary.find_all('span', class_='rbCount')
        salariescount = [x.text for x in salariescount]
        
        # Job Data
        jobtype = jobs.find('div',id='JOB_TYPE_rbo')
        jobtypelist = jobtype.find_all('span',class_='rbLabel')
        jobtypelist = [x.text for x in jobtypelist]
        jobtypecount = jobtype.find_all('span',class_='rbCount')
        jobtypecount = [x.text for x in jobtypecount]
        
        # Location Data
        location = jobs.find('div',id='LOCATION_rbo')
        locationlist = location.find_all('span',class_='rbLabel')
        locationlist = [x.text for x in locationlist]
        locationcount = location.find_all('span',class_='rbCount')
        locationcount = [x.text for x in locationcount]
        
        # Company Data
        company = jobs.find('div',id='COMPANY_rbo')
        companylist = company.find_all('span',class_='rbLabel')
        companylist = [x.text for x in companylist]
        companycount = company.find_all('span',class_='rbCount')
        companycount = [x.text for x in companycount]
        
        # Experience Data
        experience = jobs.find('div',id='EXP_LVL_rbo')
        experiencelist = experience.find_all('span',class_='rbLabel')
        experiencelist = [x.text for x in experiencelist]
        experiencecount = experience.find_all('span',class_='rbCount')
        experiencecount = [x.text for x in experiencecount]

        # Run only if title, price, and link are available
        if (salary and jobtype and location and company and experience):
        # Print results
            print('-------------')
            print(salarieslist)
            print(salariescount)
            print(jobtypelist)
            print(jobtypecount)
            print(locationlist)
            print(locationcount)
            print(companylist)
            print(companycount)
            print(experiencelist)
            print(experiencecount)

        # Dictionary to be inserted as a MongoDB document
            post ={
               'title': title,
               'company': companylist,
                'company count':companycount,
               'salary': salarieslist,
                'salary count': salariescount,
                'location': locationlist,
                'location count': locationcount,
                'jobtype':jobtypelist,
                'jobtype count': jobtypecount,
                'experience level': experiencelist,
                'experience count':experiencecount
                }
            collection.insert_one(post)
        
    except Exception as e:
        print("{}: {}".format(type(e), str(e)))

-------------
['$70,000+', '$85,000+', '$95,000+', '$110,000+', '$120,000+']
['(105829)', '(86215)', '(69417)', '(42850)', '(26910)']
['Full-time', 'Contract', 'Internship', 'Part-time', 'Temporary', 'Commission']
['(124347)', '(3438)', '(2405)', '(2359)', '(1211)', '(229)']
['Seattle, WA', 'New York, NY', 'San Francisco, CA', 'Austin, TX', 'Chicago, IL', 'Washington, DC', 'Boston, MA', 'San Jose, CA', 'San Diego, CA', 'Houston, TX', 'Sunnyvale, CA', 'Atlanta, GA', 'Annapolis Junction, MD', 'Santa Clara, CA']
['(6839)', '(4811)', '(4383)', '(2423)', '(2261)', '(1998)', '(1945)', '(1759)', '(1608)', '(1497)', '(1495)', '(1470)', '(1379)', '(1282)']
['Amazon Web Services, Inc.', 'Raytheon', 'Microsoft', 'LOCKHEED MARTIN CORPORATION', 'Northrop Grumman', 'Apple', 'Collins Aerospace', 'Oracle', 'Accenture', 'JP Morgan Chase', 'CDW', 'General Dynamics Information Technology', 'L3Harris Technologies', 'Wells Fargo', 'Facebook']
['(6530)', '(1381)', '(1355)', '(1131)', '(1120)', '(1029)', '(944)', '(938)', '(834)', '(803)', '(700)', '(692)', '(674)', '(628)', '(578)']
['Mid Level', 'Senior Level', 'Entry Level']
['(59690)', '(24377)', '(22829)']
-------------
['$65,000+', '$75,000+', '$85,000+', '$90,000+', '$105,000+']
['(18326)', '(15244)', '(11037)', '(8874)', '(3666)']
['Full-time', 'Contract', 'Part-time', 'Internship', 'Temporary', 'Commission']
['(20786)', '(1101)', '(437)', '(208)', '(153)', '(123)']
['New York, NY', 'Chicago, IL', 'Washington, DC', 'Seattle, WA', 'Atlanta, GA', 'San Francisco, CA', 'Boston, MA', 'Austin, TX', 'Houston, TX', 'Arlington, VA', 'Dallas, TX', 'Charlotte, NC', 'Tampa, FL', 'Los Angeles, CA']
['(957)', '(709)', '(555)', '(497)', '(481)', '(453)', '(387)', '(325)', '(322)', '(290)', '(285)', '(273)', '(247)', '(242)']
['Accenture', 'Deloitte', 'JP Morgan Chase', 'Amazon Web Services, Inc.', 'Capgemini', 'CGI Group, Inc.', 'CACI', 'Citi', 'Avani Technology Solutions Inc', 'PNC Financial Services Group', 'DXC', 'BNY Mellon', 'Eddie Bauer', 'NTT DATA Services', 'Booz Allen Hamilton']
['(536)', '(427)', '(409)', '(324)', '(299)', '(204)', '(130)', '(119)', '(103)', '(95)', '(85)', '(85)', '(82)', '(78)', '(76)']
['Mid Level', 'Entry Level', 'Senior Level']
['(10805)', '(4290)', '(3432)']
-------------
['$85,000+', '$95,000+', '$105,000+', '$115,000+', '$125,000+']
['(88103)', '(74979)', '(56591)', '(37050)', '(20793)']
['Full-time', 'Contract', 'Part-time', 'Internship', 'Temporary', 'Commission']
['(101067)', '(6063)', '(2229)', '(1874)', '(835)', '(142)']
['Seattle, WA', 'New York, NY', 'San Francisco, CA', 'Austin, TX', 'Chicago, IL', 'Boston, MA', 'Washington, DC', 'Atlanta, GA', 'Sunnyvale, CA', 'San Jose, CA', 'Redmond, WA', 'San Diego, CA', 'Annapolis Junction, MD', 'Santa Clara, CA']
['(6500)', '(4318)', '(3818)', '(2359)', '(2294)', '(1949)', '(1782)', '(1557)', '(1372)', '(1370)', '(1338)', '(1321)', '(1148)', '(1111)']
['Amazon Web Services, Inc.', 'Microsoft', 'Oracle', 'Apple', 'Accenture', 'JPMorgan Chase & Co.', 'Deloitte', 'LOCKHEED MARTIN CORPORATION', 'Northrop Grumman', 'Booz Allen Hamilton', 'Raytheon', 'CDW', 'General Dynamics Information Technology', 'Avani Technology Solutions Inc', 'CACI']
['(6322)', '(1441)', '(1206)', '(1027)', '(846)', '(816)', '(763)', '(715)', '(677)', '(612)', '(593)', '(574)', '(554)', '(472)', '(456)']
['Mid Level', 'Senior Level', 'Entry Level']
['(50548)', '(19317)', '(19316)']