In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import pymongo
import pandas as pd
import time

In [2]:
# Initialize PyMongo to work with MongoDBs
# prod_conn = 'mongodb://heroku_pxmzqrg2:dpp5l24mlb4lqetj4q96d62cjb@ds339968.mlab.com:39968/heroku_pxmzqrg2?retryWrites=false'
# local_conn = 'mongodb://localhost:27017'
# client = pymongo.MongoClient(prod_conn)

In [3]:
# Define database and collection
# db = client.heroku_pxmzqrg2
# collection = db.listing_summary

In [16]:
#trying Splinter
def init_browser():
    executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
    return Browser('chrome', **executable_path, headless=False)

In [31]:
def scrape_info():
    titles = ['data engineer', 'business analyst','software engineer']
    postings = []
    
    for title in titles:
        browser = init_browser()
        url = 'https://www.indeed.com/jobs?q={}&l='.format(title)
        browser.visit(url)
        browser.is_text_present('Indeed', wait_time=10)
        

        html = browser.html
        soup = bs(html, 'html.parser')

        jobs = soup.find('div', id="refineresults")

        try:
            # Salary Data
            salary = jobs.find('div', id='SALARY_rbo')
            #loop through and make objects into strings
            salarieslist = salary.find_all('span', class_='rbLabel')
            salarieslist = [x.text for x in salarieslist]
             #loop through and make objects into strings
            salariescount = salary.find_all('span', class_='rbCount')
            salariescount = [x.text for x in salariescount]

            # Job Data
            jobtype = jobs.find('div',id='JOB_TYPE_rbo')
            jobtypelist = jobtype.find_all('span',class_='rbLabel')
            jobtypelist = [x.text for x in jobtypelist]
            jobtypecount = jobtype.find_all('span',class_='rbCount')
            jobtypecount = [x.text for x in jobtypecount]

            # Location Data
            location = jobs.find('div',id='LOCATION_rbo')
            locationlist = location.find_all('span',class_='rbLabel')
            locationlist = [x.text for x in locationlist]
            locationcount = location.find_all('span',class_='rbCount')
            locationcount = [x.text for x in locationcount]

            # Company Data
            company = jobs.find('div',id='COMPANY_rbo')
            companylist = company.find_all('span',class_='rbLabel')
            companylist = [x.text for x in companylist]
            companycount = company.find_all('span',class_='rbCount')
            companycount = [x.text for x in companycount]

            # Experience Data
            experience = jobs.find('div',id='EXP_LVL_rbo')
            experiencelist = experience.find_all('span',class_='rbLabel')
            experiencelist = [x.text for x in experiencelist]
            experiencecount = experience.find_all('span',class_='rbCount')
            experiencecount = [x.text for x in experiencecount]

            # Run only if title, price, and link are available
            if (salary and jobtype and location and company and experience):
            # Print results
#                 print('-------------')
#                 print(salarieslist)
#                 print(salariescount)
#                 print(jobtypelist)
#                 print(jobtypecount)
#                 print(locationlist)
#                 print(locationcount)
#                 print(companylist)
#                 print(companycount)
#                 print(experiencelist)
#                 print(experiencecount)

            # Dictionary to be inserted as a MongoDB document
                post ={
                   'title': title,
                   'company': companylist,
                    'company count':companycount,
                   'salary': salarieslist,
                    'salary count': salariescount,
                    'location': locationlist,
                    'location count': locationcount,
                    'jobtype':jobtypelist,
                    'jobtype count': jobtypecount,
                    'experience level': experiencelist,
                    'experience count':experiencecount
                    }
                postings.append(post)
            
        except Exception as e:
            print("{}: {}".format(type(e), str(e)))
        
        #close browser after scraping
        browser.quit()
        
    return postings

In [32]:
scrape_info()

[{'title': 'data engineer',
  'company': ['Amazon Web Services, Inc.',
   'Raytheon',
   'Microsoft',
   'LOCKHEED MARTIN CORPORATION',
   'Northrop Grumman',
   'Apple',
   'Collins Aerospace',
   'Oracle',
   'Accenture',
   'JPMorgan Chase',
   'General Dynamics Information Technology',
   'CDW',
   'Facebook',
   'SAIC',
   'Wells Fargo'],
  'company count': ['(6525)',
   '(1377)',
   '(1349)',
   '(1131)',
   '(1118)',
   '(1029)',
   '(943)',
   '(938)',
   '(834)',
   '(797)',
   '(721)',
   '(700)',
   '(578)',
   '(577)',
   '(556)'],
  'salary': ['$70,000+', '$85,000+', '$95,000+', '$110,000+', '$120,000+'],
  'salary count': ['(105071)', '(85625)', '(68999)', '(42644)', '(26772)'],
  'location': ['Seattle, WA',
   'New York, NY',
   'San Francisco, CA',
   'Austin, TX',
   'Chicago, IL',
   'Washington, DC',
   'Boston, MA',
   'San Jose, CA',
   'San Diego, CA',
   'Sunnyvale, CA',
   'Atlanta, GA',
   'Houston, TX',
   'Annapolis Junction, MD',
   'Santa Clara, CA'],
  'location count': ['(6829)',
   '(4806)',
   '(4358)',
   '(2403)',
   '(2255)',
   '(2004)',
   '(1931)',
   '(1750)',
   '(1601)',
   '(1490)',
   '(1478)',
   '(1470)',
   '(1389)',
   '(1279)'],
  'jobtype': ['Full-time',
   'Contract',
   'Internship',
   'Part-time',
   'Temporary',
   'Commission'],
  'jobtype count': ['(123460)',
   '(3373)',
   '(2391)',
   '(2342)',
   '(1198)',
   '(227)'],
  'experience level': ['Mid Level', 'Senior Level', 'Entry Level'],
  'experience count': ['(59224)', '(24199)', '(22713)']},
 {'title': 'business analyst',
  'company': ['Accenture',
   'Deloitte',
   'JPMorgan Chase & Co.',
   'Amazon.com Services, Inc.',
   'Capgemini',
   'CGI Veterans Jobs',
   'CACI',
   'Citi',
   'Avani Technology Solutions Inc',
   'PNC Financial Services Group',
   'BNY Mellon',
   'DXC',
   'Eddie Bauer',
   'NTT DATA Services',
   'Booz Allen Hamilton'],
  'company count': ['(536)',
   '(427)',
   '(403)',
   '(322)',
   '(299)',
   '(202)',
   '(131)',
   '(119)',
   '(103)',
   '(92)',
   '(85)',
   '(85)',
   '(83)',
   '(78)',
   '(76)'],
  'salary': ['$65,000+', '$75,000+', '$85,000+', '$90,000+', '$105,000+'],
  'salary count': ['(18181)', '(15129)', '(10953)', '(8798)', '(3648)'],
  'location': ['New York, NY',
   'Chicago, IL',
   'Washington, DC',
   'Seattle, WA',
   'Atlanta, GA',
   'San Francisco, CA',
   'Boston, MA',
   'Austin, TX',
   'Houston, TX',
   'Arlington, VA',
   'Dallas, TX',
   'Charlotte, NC',
   'Tampa, FL',
   'Los Angeles, CA'],
  'location count': ['(956)',
   '(699)',
   '(554)',
   '(494)',
   '(474)',
   '(450)',
   '(379)',
   '(324)',
   '(319)',
   '(289)',
   '(288)',
   '(268)',
   '(246)',
   '(240)'],
  'jobtype': ['Full-time',
   'Contract',
   'Part-time',
   'Internship',
   'Temporary',
   'Commission'],
  'jobtype count': ['(20623)', '(1075)', '(428)', '(203)', '(149)', '(123)'],
  'experience level': ['Mid Level', 'Entry Level', 'Senior Level'],
  'experience count': ['(10744)', '(4237)', '(3388)']},
 {'title': 'software engineer',
  'company': ['Amazon Web Services, Inc.',
   'Microsoft',
   'Oracle',
   'Apple',
   'Accenture',
   'JPMorgan Chase',
   'Deloitte',
   'LOCKHEED MARTIN CORPORATION',
   'Northrop Grumman',
   'Booz Allen Hamilton',
   'Raytheon',
   'CDW',
   'General Dynamics Information Technology',
   'Avani Technology Solutions Inc',
   'CACI'],
  'company count': ['(6319)',
   '(1441)',
   '(1208)',
   '(1027)',
   '(845)',
   '(810)',
   '(763)',
   '(714)',
   '(676)',
   '(611)',
   '(591)',
   '(574)',
   '(562)',
   '(472)',
   '(455)'],
  'salary': ['$85,000+', '$95,000+', '$105,000+', '$115,000+', '$125,000+'],
  'salary count': ['(87485)', '(74496)', '(56277)', '(36881)', '(20685)'],
  'location': ['Seattle, WA',
   'New York, NY',
   'San Francisco, CA',
   'Austin, TX',
   'Chicago, IL',
   'Boston, MA',
   'Washington, DC',
   'Atlanta, GA',
   'Sunnyvale, CA',
   'San Jose, CA',
   'Redmond, WA',
   'San Diego, CA',
   'Annapolis Junction, MD',
   'Santa Clara, CA'],
  'location count': ['(6496)',
   '(4283)',
   '(3799)',
   '(2337)',
   '(2262)',
   '(1915)',
   '(1773)',
   '(1557)',
   '(1363)',
   '(1357)',
   '(1332)',
   '(1322)',
   '(1152)',
   '(1107)'],
  'jobtype': ['Full-time',
   'Contract',
   'Part-time',
   'Internship',
   'Temporary',
   'Commission'],
  'jobtype count': ['(100414)',
   '(5884)',
   '(2199)',
   '(1845)',
   '(811)',
   '(140)'],
  'experience level': ['Mid Level', 'Senior Level', 'Entry Level'],
  'experience count': ['(50139)', '(19207)', '(19171)']}]