In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import pymongo
import pandas as pd
import time

In [2]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
# Define database and collection
db = client.job_db
collection = db.indeed_listings

In [4]:
#trying Splinter
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
def click_next(browser):
    try:
        browser.is_element_present_by_css(".np")
        browser.find_by_css(".np").click()
    except:
        try:
            browser.find_by_css('#popover-x').click()
        except:
            pass

In [6]:
titles = ["data+engineer","software+engineer","business+analyst"]

In [7]:
for title in titles:    
    url = 'https://www.indeed.com/jobs?q={}&l='.format(title)
    browser.visit(url)
    browser.is_text_present('Indeed', wait_time=10)
    
    for x in range(1,1):
        html = browser.html
        soup = bs(html, 'html.parser')

        jobs = soup.find_all('div', id="refineresults")
        job_list = list(jobs)
        postingsummary = {}
        
        for job in job_list:
            try:
            # Identify and return left hand summary of job listing
                salary = job.find('div', id='SALARY_rbo')
                salarieslist = salary.find_all('span', class_='rbLabel').text
                salariescount = salary.find_all('span',class_='rbCount').text
                jobtype = job.find('div',id='JOB_TYPE_rbo')
                jobtypelist = jobtype.find_all('span',class_='rbLabel').text
                jobtypecount = jobtype.find_all('span',class_='rbCount').text
                location = job.find('div',id='LOCATION_rbo')
                locationlist = jobtype.find_all('span',class_='rbLabel').text
                locationcount = jobtype.find_all('span',class_='rbCount').text
                company = job.find('div',id='COMPANY_rbo')
                companylist = jobtype.find_all('span',class_='rbLabel').text
                companycount = jobtype.find_all('span',class_='rbCount').text
                experience = job.find('div',id='EXP_LVL_rbo')
                experiencelist = jobtype.find_all('span',class_='rbLabel').text
                experiencecount = jobtype.find_all('span',class_='rbCount').text
                
                # Run only if title, price, and link are available
                if (salarieslist and jobtypelist and locationlist and companylist and experiencelist):
                # Print results
                    print('-------------')
                    print(salarieslist)
                    print(jobtypelist)
                    print(locationlist)
                    print(companylist)
                    print(experiencelist)

                # Dictionary to be inserted as a MongoDB document
                    post ={
                       'title': title,
                       'company': companylist,
                        'company count':companycount,
                       'salary': salarieslist,
                        'salary count': salariescount,
                        'location': locationlist,
                        'location count': locationcount,
                        'jobtype':jobtypelist,
                        'jobtype count': jobtypecount,
                        'experience level': experiencelist,
                        'experience count':experiencecount
                        }
                    collection.insert_one(post)
                    postingssummary.append(post)
            
            except Exception as e:
                pass

NameError: name 'post' is not defined

In [9]:
for title in titles:
    url = 'https://www.indeed.com/jobs?q={}&l='.format(title)
    browser.visit(url)
    browser.is_text_present('Indeed', wait_time=10)
    
    for x in range(1, 10):
        html = browser.html
        soup = bs(html, 'html.parser')

        jobs = soup.find_all('div', class_="jobsearch-SerpJobCard unifiedRow row result clickcard")
        job_list = list(jobs)
        postings = {}
    
        for job in job_list:
            try:
            # Identify and return job title
                title = job.find('div', class_='title').text
            # Identify and return company name
                company = job.find('span', class_='company').text
            # Identify and return location
                location = job.find('div', class_='location accessible-contrast-color-location').text
            # Identify and return salary
                salary = job.find('span', class_='salaryText').text

            # Run only if title, price, and link are available
                if (title and company and location and salary):
                # Print results
                    print('-------------')
                    print(title)
                    print(company)
                    print(salary)
                    print(location)

                # Dictionary to be inserted as a MongoDB document
                    post ={
                       'title': title,
                       'company': company,
                       'salary': salary,
                        'location': location
                        }
                    collection.insert_one(post)
                    postings.append(post)

            except Exception as e:
                pass
            
        click_next(browser)

-------------


Data Engineer


Data Crunch

$60,000 - $85,000 a year
Raleigh-Durham, NC
-------------


Data Science Engineer


SteepRock, Inc.

$110,000 - $140,000 a year
Austin, TX
-------------


Data Engineer



Central Intelligence Agency

$73,052 - $148,967 a year
Washington, DC
-------------


Data Engineer


Streamline - Real Estate Development

$70,000 - $90,000 a year
Philadelphia, PA
-------------


Machine Learning Engineer


Triplebyte

$125,000 - $190,000 a year
Seattle, WA
-------------


Entry Level Field Service Engineer


Gigaphoton USA, Inc

$45,000 - $50,000 a year
Austin, TX
-------------


Data Engineer



Central Intelligence Agency

$73,052 - $148,967 a year
Washington, DC
-------------


Data Engineer


Streamline - Real Estate Development

$70,000 - $90,000 a year
Philadelphia, PA
-------------


Machine Learning Engineer


Triplebyte

$125,000 - $190,000 a year
Seattle, WA
-------------


Entry Level Field Service Engineer


Gigaphoton USA, Inc

$45,000 - $50,000 a year
Austin, TX
-------------


Data Engineer



Central Intelligence Agency

$73,052 - $148,967 a year
Washington, DC
-------------


Data Engineer


Streamline - Real Estate Development

$70,000 - $90,000 a year
Philadelphia, PA
-------------


Machine Learning Engineer


Triplebyte

$125,000 - $190,000 a year
Seattle, WA
-------------


Entry Level Field Service Engineer


Gigaphoton USA, Inc

$45,000 - $50,000 a year
Austin, TX
-------------


Data Engineer



Central Intelligence Agency

$73,052 - $148,967 a year
Washington, DC
-------------


Data Engineer


Streamline - Real Estate Development

$70,000 - $90,000 a year
Philadelphia, PA
-------------


Machine Learning Engineer


Triplebyte

$125,000 - $190,000 a year
Seattle, WA
-------------


Entry Level Field Service Engineer


Gigaphoton USA, Inc

$45,000 - $50,000 a year
Austin, TX
-------------


Data Engineer



Central Intelligence Agency

$73,052 - $148,967 a year
Washington, DC
-------------


Data Engineer


Streamline - Real Estate Development

$70,000 - $90,000 a year
Philadelphia, PA
-------------


Machine Learning Engineer


Triplebyte

$125,000 - $190,000 a year
Seattle, WA
-------------


Entry Level Field Service Engineer


Gigaphoton USA, Inc

$45,000 - $50,000 a year
Austin, TX
-------------


Data Engineer



Central Intelligence Agency

$73,052 - $148,967 a year
Washington, DC
-------------


Data Engineer


Streamline - Real Estate Development

$70,000 - $90,000 a year
Philadelphia, PA
-------------


Machine Learning Engineer


Triplebyte

$125,000 - $190,000 a year
Seattle, WA
-------------


Entry Level Field Service Engineer


Gigaphoton USA, Inc

$45,000 - $50,000 a year
Austin, TX
-------------


Data Engineer



Central Intelligence Agency

$73,052 - $148,967 a year
Washington, DC
-------------


Data Engineer


Streamline - Real Estate Development

$70,000 - $90,000 a year
Philadelphia, PA
-------------


Machine Learning Engineer


Triplebyte

$125,000 - $190,000 a year
Seattle, WA
-------------


Entry Level Field Service Engineer


Gigaphoton USA, Inc

$45,000 - $50,000 a year
Austin, TX
-------------


Data Engineer



Central Intelligence Agency

$73,052 - $148,967 a year
Washington, DC
-------------


Data Engineer


Streamline - Real Estate Development

$70,000 - $90,000 a year
Philadelphia, PA
-------------


Machine Learning Engineer


Triplebyte

$125,000 - $190,000 a year
Seattle, WA
-------------


Entry Level Field Service Engineer


Gigaphoton USA, Inc

$45,000 - $50,000 a year
Austin, TX
-------------


Software Engineer


Triplebyte

$125,000 - $190,000 a year
San Francisco, CA 94105 (Financial District area)
-------------


Software Engineer


Apre Instruments, Inc

$65,000 - $85,000 a year
Tucson, AZ 85705 (Flowing Wells area)
-------------


DevOps Engineer


Collaborative Management Strategies LLC

$58 - $60 an hour
Austin, TX
-------------


Entry Level Web Dev - Full Stack


Corrections Software Solutions

$55,000 - $65,000 a year
Austin, TX 78703
-------------


Software/Firmware Engineer


Sierra-Olympic Technologies, Inc.

$70,000 - $100,000 a year
Hood River, OR
-------------


DevOps Engineer


Collaborative Management Strategies LLC

$58 - $60 an hour
Austin, TX
-------------


Software/Firmware Engineer


Sierra-Olympic Technologies, Inc.

$70,000 - $100,000 a year
Hood River, OR
-------------


Entry Level Web Dev - Full Stack


Corrections Software Solutions

$55,000 - $65,000 a year
Austin, TX 78703
-------------


Software Engineer


Triplebyte

$125,000 - $190,000 a year
Seattle, WA
-------------


Machine Learning Engineer


Triplebyte

$125,000 - $190,000 a year
Seattle, WA
-------------


Software Engineer


Apre Instruments, Inc

$65,000 - $85,000 a year
Tucson, AZ 85705 (Flowing Wells area)
-------------


Robotics Software Engineer


Spindle 360

$75,000 - $150,000 a year
Austin, TX
-------------


Software Engineer


Triplebyte

$125,000 - $190,000 a year
San Francisco, CA 94105 (Financial District area)
-------------


Senior Software Engineer



Futurex

$75,000 a year
San Antonio, TX
-------------


Robotics Software Engineer


Spindle 360

$75,000 - $150,000 a year
Austin, TX
-------------


Software Engineer


Triplebyte

$125,000 - $190,000 a year
San Francisco, CA 94105 (Financial District area)
-------------


Software Engineer


Blockfills

$80,000 - $110,000 a year
Chicago, IL
-------------


Backend Software Engineer I


Ensurem LLC

$50,000 - $60,000 a year
Clearwater, FL 33760
-------------


Software Engineer


Triplebyte

$125,000 - $190,000 a year
Seattle, WA
-------------


Software Engineer


Blockfills

$80,000 - $110,000 a year
Chicago, IL
-------------


Backend Software Engineer I


Ensurem LLC

$50,000 - $60,000 a year
Clearwater, FL 33760
-------------


Software Engineer


Triplebyte

$125,000 - $190,000 a year
Seattle, WA
-------------


Technical Business Analyst



Indeed

$80,000 - $106,000 a year
Austin, TX 78731
-------------


Business Analyst



Aspen Skiing Company

$81,000 - $101,000 a year
Aspen, CO 81611
-------------


Business Analyst



Southern Marsh Collection

$60,000 a year
Baton Rouge, LA
-------------


Business Analyst II



New Mexico Mutual

$70,000 - $80,000 a year
Albuquerque, NM
-------------


Sr. Business Analyst - 5 yrs Exp Preffered


FUSIONSTAK LLC

$65,000 - $80,000 a year
Baton Rouge, LA 70809
-------------


Business Analyst



Aspen Skiing Company

$81,000 - $101,000 a year
Aspen, CO 81611
-------------


Technical Business Analyst



Indeed

$80,000 - $106,000 a year
Austin, TX 78731
-------------


Business Analyst



NewDay USA

$60,000 - $80,000 a year
Fulton, MD 20759
-------------


Business Analyst Sales


HELLA - Main Account

$45,000 - $50,000 a year
Peachtree City, GA 30269
-------------


Business Analyst



Southern Marsh Collection

$60,000 a year
Baton Rouge, LA
-------------


Business Analyst II



New Mexico Mutual

$70,000 - $80,000 a year
Albuquerque, NM
-------------


Sr. Business Analyst - 5 yrs Exp Preffered


FUSIONSTAK LLC

$65,000 - $80,000 a year
Baton Rouge, LA 70809
-------------


Business Analyst



Aspen Skiing Company

$81,000 - $101,000 a year
Aspen, CO 81611
-------------


Technical Business Analyst



Indeed

$80,000 - $106,000 a year
Austin, TX 78731
-------------


Business Analyst



NewDay USA

$60,000 - $80,000 a year
Fulton, MD 20759
-------------


Business Analyst Sales


HELLA - Main Account

$45,000 - $50,000 a year
Peachtree City, GA 30269
-------------


Business Analyst



Southern Marsh Collection

$60,000 a year
Baton Rouge, LA
-------------


Technical Business Analyst



Indeed

$80,000 - $106,000 a year
Austin, TX 78731
-------------


Sr. Business Analyst - 5 yrs Exp Preffered


FUSIONSTAK LLC

$65,000 - $80,000 a year
Baton Rouge, LA 70809
-------------


Magento Business Analyst


Magento Solution Experts

$45 - $65 an hour
Miami, FL 33180
-------------


Business Analyst



Aspen Skiing Company

$81,000 - $101,000 a year
Aspen, CO 81611
-------------


Senior Business Support Analyst


Smiley Technologies

$70,000 - $99,500 a year
Little Rock, AR 72212 (River Mountain area)
-------------


Business Analyst Sales


HELLA - Main Account

$45,000 - $50,000 a year
Peachtree City, GA 30269
-------------


Business Analyst



NewDay USA

$60,000 - $80,000 a year
Fulton, MD 20759

-------------


Business Analyst



Aspen Skiing Company

$81,000 - $101,000 a year
Aspen, CO 81611
-------------


Business Analyst Sales


HELLA - Main Account

$45,000 - $50,000 a year
Peachtree City, GA 30269
-------------


Technical Business Analyst



Indeed

$80,000 - $106,000 a year
Austin, TX 78731